body{
    background-image:url("pranjalwedsM.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffff;
    background-attachment: fixed;
    background-origin: content-box;
    background: url("pranjalwedsM.png");
    
}