.container{
    border: 3px solid black;
    background-color: green;
    height: 500px;
    width: 500px;
    display: flex;

}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

   
   /*TRANSITION-PROPERTY*/
  /* transition-property: background-color;*/
   /*TRANSITION-DELAY*/
   /*transition-delay: 2s;*/
   /*TRANSITION DURATION*/
   /*transition-duration: 3s;*/

   /*transition: background-color 1s ease 1s;*/
   /*transition: transform 3s ease-out 5s;*/

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: 3s;
    transition-delay: 1s;

}
 .box:hover{
    background-color: brown;
    /*transform: rotate(45deg);*/

    transform: scale(2) translateX(500px) rotate(360deg);
 }